{
  margin:0;
  padding:0;
  border-sizing:border-box;
}

.main container {
  background-color: pink;
  width: 1140px;
  height: 500px;
  margin: 0 auto;
}
 
.navbar{
  width: 100px;
  height: 50px;
  background-color: bisque;
  display:flex;
  justfy-container:space-between;
  padding: 10px;
}
.banner container {
  display: flex;
  background color: green;
  border:20px;
  margin-bottom:30px;
}
.left-banner section {
  
  
}
